.container {
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.image {
    width: 45px;
    height: 45px;
    /* border: 1px solid red; */
    margin-right: 10px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-family: 'Roboto Condensed';
}