















.newsContainer {
    display: flex;
    justify-content: center;
    flex-direction:row;
}
.button:hover {
  color: #6C87B2;
  font-size: 16px;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #2c689c;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.button {
  color: #9A9B9F;
  cursor: pointer;
}
  .newsCenter {
    display: flex;
    flex-direction: column;  
    margin-top:15px; 
    width: 840px;
    margin-right:60px; 
  /* border: 1px solid red; */
  }
  .rowblock {
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
  }
  .newsCategory{
    font-weight:400;
    font-family: "Roboto Condensed";
    font-size:22px; 
    border-bottom:1px solid #6C87B2;  
  }
  .newsTitle{
    font-weight:400;
    font-family: "Roboto Condensed";
    font-size:30px; 
    margin-top:10px;
    margin-bottom:10px;
    /* margin-left:50px;
    margin-right:50px; */
}
.author{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  margin-top:5px; 
  font-size:15px; 
}
.newsTime{
    display: flex;
    flex-direction: row;
    font-size:14px;
    /* align-content:center; */
    align-items: center;
    justify-content:space-between;
    margin-bottom:10px;  
}
.background img {
  opacity: 1;
	-webkit-transition: all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.background:hover img {
  opacity: .8;
  background:lightgray;
}
.background:hover{
  color:red;
  
}