/* @media (max-width: 990px) {
    .hide{
       display: none;
    }
    .Hfooter{
        margin-left:15px;
    }
}
.Hfooter{
    margin-left:-15px;
    margin-right:0;
    padding:0;
}

.h3{
    color: black;
}
.comment{
    color: black;
} */