@media (max-width: 989px) {
  .drawerToggler {
    background-color: white;
  }
  .toolbar {
    display: none;
  }
}

@media (min-width: 990px) {
  .drawerToggler {
    display: none;
    
  }
  .toolbar {
    background-color: white;
    border-bottom: 1px solid lightgray;
  }
  .topBar {
    border-bottom: 1px solid lightgray;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-family: 'Oswald';
  }
  .topBarContent {
    height: 500px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menuContainer {
    max-width: 1200px;
    margin: auto;
  }
}