.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 12px;
  cursor: pointer;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
@media (max-width: 990px) {
  .categoryPhone {
    margin-right: 15px;
  }
  .categoryPhone1 {
    margin-right: 50px;
  }
  .hide {
    display: none;
  }
  .pagination {
    margin-right: 35px;
  }
  .categoryPhone1 iframe {
    background-color: #0054a5;
    width: 250px;
  }
}
.image {
  width: 100%;
  height: auto;
}
