
.container {
   display: flex;
    margin: 0px 0px;
    border-bottom:1px solid lightgrey;
    align-content:center;
    align-items: center;
   
}

/* .img {
    width: 20px;
    height:40px;
    flex: 1;
    
} */

.newsTitle {
    font-size: 10px;
    flex: 1;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:1px; 
    color:#414141
   
   
}
.soicial{
     display: flex; 
     align-content:space-between;
     padding-top:10px; 
}
.detail{
   flex: 1;
}


.newsShortContent {
    padding: 0px 5px;
    font-size: 12px;
    line-height: 1.67;
    /* border: 1px solid black; */
}

@media only screen and (min-width: 500px) {
    body {
        /* background-color: #F5CF8E; */
    }
}

@media only screen and (min-width: 500px) {
    body {
        /* background-color: #F5CF8E; */
    }
}