.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* background-image:linear-gradient(to right, rgba(0, 70, 165, 0.6), rgba(0, 70, 165, 0.6)), url("https://www.olympic.mn/backend/image/original/1MPWySz321.png?fbclid=IwAR2259a1Y5ATIGac8LvhJuWT3r5xchOd5cwDCrxG5RJ3H_ESRxdwIe_PrzI") ; */
    height:100%;
    width:250px;
    z-index:50;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.container{
    height:100%;
    width:250px;
}
.account{
    background-color:#CF1E28;
    height:60px;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
    border-bottom-right-radius:20%;
    border-bottom-left-radius:20%;
 
    
}
.p-panelmenu{
    text-align:left!important;
}
/* .avatar{
    background-color:#CF1E28;
    height:30px;
    width:100%;
    border-bottom-right-radius:100%;
 
    
} */

.myNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* .avatar{
    height:30px;
    background-color:#CF1E28;
    border-bottom-right-radius:90%;
} */

/* @media (min-width: 990px) {
    .NavigationItems {
        flex-direction: row;
        align-items: center;
    }
    .myNav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background: white;
    }
    .myNav ul:before, .myNav ul:after {
        content: "";
        display: table;
    }
    .myNav ul:after {
        clear: both;
    }
    .myNav ul>li {
        float: left;
        position: relative;
    }
    .myNav a {
        letter-spacing: 0.5px;
        font-weight: 400;
        font-size: 16px;
        font-family: 'Oswald';
        display: block;
        box-sizing: border-box;
        margin: 0px 5px;
        color: #143CA0;
        text-decoration: none;
    }
    .myNav ul li {
        border-bottom: 2px solid white;
    }
    .myNav ul li ul > li {
        border-bottom: none;
    }
    .myNav ul li:hover {
        background: #143CA0;
        border-bottom: 2px solid red;
    }
    .myNav ul li:hover a {
        color: white;
    }
    .myNav a:hover {
        text-decoration: none;
        color: white;
    }
    .myNav li ul {
        background: #143CA0;
    }
    .myNav li ul li {
        width: 240px;
    }
    .myNav li ul a {
        border: none;
        text-align: left;
    }
    .myNav li ul a:hover {
        background: rgba(0, 0, 0, 0.5);
    }
    .myNav li ul {
        position: absolute;
        left: 0;
        top: 34px;
        z-index: 100;
    }
    .myNav li ul li {
        overflow: hidden;
        height: 0;
        -webkit-transition: height 200ms ease-in;
        -moz-transition: height 200ms ease-in;
        -o-transition: height 200ms ease-in;
        transition: height 200ms ease-in;
    }
    .myNav ul>li:hover ul li {
        height: 35px;
        border-bottom: none;
    }
} */
.myNav li ul {
    z-index: 100;
}

@media (max-width: 989px) {
    .NavigationItems {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
      
    }
  

    .myNav ul {
        *zoom: 1;
        list-style: none;
        margin: 0;
        padding: 0;
        background: #6C87B2;
    }
    .myNav ul:before, .myNav ul:after {
        content: "";
        display: table;
    }
    .myNav ul:after {
        clear: both;
    }
    .myNav ul>li {
        float: left;
        position: relative;
    }
    .myNav a {
        font-weight: 400;
        font-size: 14px;
        font-family: 'Oswald';
        display: block;
        box-sizing: border-box;
        margin: 0px 5px;
        line-height: 22px;
        color: white;
        text-decoration: none;
    }
    .myNav ul li:hover {
        background: #143CA0;
    }
    .myNav a:hover {
        text-decoration: none;
    }
    .myNav li ul {
        background: #143CA0;
    }
    .myNav li ul li {
        width: 200px;
    }
    .myNav li ul a {
        border: none;
    }
    .myNav li ul a:hover {
        background: rgba(0, 0, 0, 0.5);
    }
    .myNav li ul {
        position: absolute;
        left: 0;
        top: 32px;
        z-index: 100;
    }
    .myNav li ul li {
        overflow: hidden;
        height: 0;
        -webkit-transition: height 200ms ease-in;
        -moz-transition: height 200ms ease-in;
        -o-transition: height 200ms ease-in;
        transition: height 200ms ease-in;
    }
    .myNav ul>li:hover ul li {
        height: 35px;
    }
}